.center {
  text-align: center;
}

.small-round {
  width: auto;
  height: 60px;
  border-radius: 55px;
  border-color: #DADADA;
  border-style: solid;
  border-width: 3px;
  margin-top: 3px;
  margin-right: 8px;
}
.float-left {
  float: left;
}
.center {
  text-align: center;
}
.method-bullet {
  width: 30px;
  height: auto;
}
.timeline {
  padding-bottom: 100px;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  min-height: 12000px;
  background-color: #DADADA;
  /*left: 50%;*/
  margin-left: -32.5px;
  margin-top: 162px;
}
.timeline-item {
  margin-top: 18px;
}
.timeline-item:before {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  margin-left: -42px;
  position: absolute;
  content: " ";
  margin-top: 8px;
  background-color: #DADADA;
}
.timeline-item.right:before {
  margin-left: -26px;
}
.timeline-method:before {
  background-color: #4ABDAC;
}
.default-title {
  color: #7A7A7A;
}
.method-title {
  color: #4ABDAC;
}
.timeline-analysis:before {
  background-color: #FC4A1A;
}
.analysis-title {
  color: #FC4A1A;
}
.timeline-design:before {
  background-color: #F7B733;
}
.design-title {
  color: #F7B733;
}
.img-100 {
  height: auto;
  width: 100%;
  margin-right: 10px;
  margin-bottom: 10px;
}
.sample-img {
  height: 220px;
  width: auto;
  margin-right: 10px;
  margin-bottom: 10px;
}
.medium-img {
  height: 270px;
  width: auto;
  margin-right: 10px;
  margin-bottom: 10px;
}
.large-img {
  height: 450px;
  width: auto;
  margin-right: 10px;
  margin-bottom: 10px;
}
